

<div id="todo_items_wrapper">
  <%= render @todo_list.todo_items%>
  <div id="form">
    <%= render "todo_items/form">
  </div>
</div>

<%= link_to "Mark as Complete ",complete_todo_list_todo_item_path(@todo_list, todo_item.id),method: :patch %>

<%= link_to 'Edit' , edit_todo_list_path(@todo_list) %>

<%= link_to 'Back', todo_lists_path %>

